CNO/schemas/usr.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="usr">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:anyURI" name="aPayloadURL"/>
        <xs:element type="xs:string" name="buildObj"/>
		<xs:element type="xs:string" name="cno_Region"/>
		<xs:element type="xs:string" name="ccnDuplicateClaims"/>
        <xs:element type="xs:string" name="cno_OutArchive"/>
        <xs:element type="xs:string" name="cno_GTM_ResubmitQueue"/>
        <xs:element type="xs:string" name="cno_LOB"/>
        <xs:element type="xs:string" name="cno_Group"/>
        <xs:element type="xs:string" name="cno_OutDir"/>
        <xs:element type="xs:string" name="cno_SenderNameAlias"/>
        <xs:element type="xs:string" name="cno_InpArchive"/>
        <xs:element type="xs:string" name="cno_arcRotateGen"/>
        <xs:element type="xs:string" name="cno_837_ServiceQ"/>
        <xs:element type="xs:string" name="cno_Category"/>
        <xs:element type="xs:string" name="cno_env"/>
        <xs:element type="xs:string" name="cno_Contact1"/>
        <xs:element type="xs:string" name="cno_Contact2"/>
        <xs:element type="xs:string" name="cno_QM"/>
        <xs:element type="xs:string" name="cno_MapName"/>
        <xs:element type="xs:string" name="cno_SenderName"/>
		<xs:element type="xs:string" name="docType"/>
	    <xs:element type="xs:int" name="ediFileSize"/>
        <xs:element type="xs:short" name="ediRecCount"/>
		<xs:element type="xs:string" name="ediTotalClaims"/>
		<xs:element type="xs:string" name="ediTotalClaimsValue"/>
		<xs:element type="xs:string" name="ediNonCompliantClaims"/>
		<xs:element type="xs:int" name="ediTotalHL22Segments"/>
		<xs:element type="xs:int" name="ediTotalISACount"/>
		<xs:element type="xs:int" name="ediTotalGroups"/>
		<xs:element type="xs:int" name="ediTotalTransactions"/>
        <xs:element type="xs:int" name="ediTotalSubmitterIDs"/>
		<xs:element type="xs:short" name="editotalSBRSegments"/>
        <xs:element type="xs:int" name="ediTotalHL23Segments"/>
<xs:element type="xs:string" name="paperClaimCount"/>
<xs:element type="xs:string" name="racClaimCount"/>
<xs:element type="xs:string" name="peerrClaimCount"/>

		<xs:element type="xs:string" name="errorPreEdit"/>
		<xs:element type="xs:string" name="errorPreEditData"/>
		<xs:element type="xs:string" name="errorReasonCode"/>
		<xs:element type="xs:string" name="errorReasonDesc"/>
		
        <xs:element type="xs:string" name="gtm_ComplianceReportTemplatePath"/>
        <xs:element type="xs:string" name="jobName"/>
		<xs:element type="xs:string" name="justFileName"/>
		<xs:element type="xs:string" name="LauncherInfo"/>
        <xs:element type="xs:string" name="mqaTranId"/>
        <xs:element type="xs:string" name="mqaJobId"/>
        <xs:element type="xs:string" name="mqaDocId"/>
        <xs:element type="xs:string" name="mqaSLAClass"/>
        <xs:element type="xs:string" name="mqaDeptName"/>
        <xs:element type="xs:string" name="mqaCompName"/>
		<xs:element type="xs:string" name="mqaPreSrc"/>
        <xs:element type="xs:string" name="mqaDocType"/>
        <xs:element type="xs:string" name="mqaPreMon"/>
        <xs:element type="xs:anyURI" name="mqaRouteURL"/>
        <xs:element type="xs:string" name="mqaPostSrc"/>
        <xs:element type="xs:string" name="receiverId"/>	
        <xs:element type="xs:string" name="senderId"/>
		<xs:element type="xs:string" name="status"/>
		<xs:element type="xs:string" name="processStatus"/>
		<xs:element type="xs:string" name="parentProcessId"/>
        <xs:element type="xs:string" name="trackerId"/>
		<xs:element type="xs:long" name="WMQFTEFileLastModified"/>
        <xs:element type="xs:string" name="WMQFTEDestinationAgent"/>
        <xs:element type="xs:string" name="WMQFTETransferId"/>
        <xs:element type="xs:string" name="MFTFileName"/>
        <xs:element type="xs:string" name="WMQFTETransferMode"/>
        <xs:element type="xs:string" name="WMQFTEFileSize"/>
        <xs:element type="xs:string" name="WMQFTESourceAgent"/>
		<xs:element type="xs:int" name="WMQFTEFileIndex"/>
        <xs:element type="xs:string" name="WMQFTEMqmdUser"/>
        <xs:element type="xs:string" name="WMQFTEFileName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>